@import '../../global-styles/vars';

header.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 113px;
  box-sizing: border-box;
  border-bottom: 1px solid $color-separators;

  #mobile-navbar-check {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    width: 418px;
    padding-bottom: 15px;
    img {
      width: 100%;
    }
  }

  nav {
    ul {
      white-space: nowrap;
      li {
        display: inline-block;
        height: 40px;
        margin: 0 12px;
        font-size: 14px;
        letter-spacing: 1px;
        -webkit-font-smoothing: antialiased !important;

        &:nth-last-child(1) {
          margin-right: 9px;
        }

        a {
          font-family: $font-nav;
          font-weight: 600;
          transition: all 0.5s;
        }
        &.active {
          color: $color-focus;
        }

        .bullet {
          display: block;
          margin: 0 auto;
          width: 7px;
          height: 7px;
          border-radius: 5px;
          background-color: $color-focus;
          margin-top: 7px;
        }
      }
    }
  }
}

@import './responsive.scss';
