@import '../../global-styles/vars';

/* mobile breaks */
@media (max-width: $breakpoint-tablet) {
  header.main-header {
    position: absolute;
    height: auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: none;
    margin-top: 5px;

    .mobile-menu {
      position: absolute;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s;

      &,
      & * {
        cursor: pointer;
      }

      &:hover {
        transform: translateY(-50%) scale(1.1);
      }

      #mobile-navbar-check {
        display: none;
      }

      label {
        .icon-bar {
          display: block;
          width: 22px;
          height: 2px;
          background-color: #cccccc;
          margin: 4px;
          transition: all 0.2s;
        }
        .top-bar {
          transform: rotate(0);
        }
        .middle-bar {
          opacity: 1;
        }
      }
    }

    .logo {
      margin-top: 5px;
      width: 70%;
      max-width: 400px;
      padding: 0;
    }

    nav {
      display: block;
      width: 100%;

      ul {
        overflow: hidden;
        padding-top: 0;
        margin: 0;
        position: absolute;
        left: -150%;
        opacity: 0;
        transition: opacity 0.2s;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
      }

      ul li {
        display: block;
        padding: 10px;
        width: 100%;
        height: auto;
        margin: 0;
        font-size: 18px;

        &:nth-last-child(1) {
          margin-right: 0px;
        }

        a {
          font-family: $font-nav;
          font-weight: 600;
          width: 100%;
        }

        &.active {
          color: $color-focus;
        }

        .bullet {
          display: none;
        }
      } /* li */
    }

    #mobile-navbar-check:checked ~ nav ul {
      left: 0;
      opacity: 1;
    } /* nav */

    #mobile-navbar-check:checked ~ .mobile-menu {
      .top-bar {
        transform: translateY(6px) rotate(45deg);
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  } /* main header */

  .social-links {
    display: none;
  }
} /* breackpoint mobile */
