.social-links {
  display: block;
  margin-top: 25px;
  position: absolute;
  right: 0;
  z-index: 999;

  ul {
    display: flex;
    flex-direction: column;

    li a img {
      height: 22px;
      margin-bottom: 8px;
    }
  }
}

@import './responsive.scss';
