@import '../../global-styles/vars';

@media (max-width: $breakpoint-tablet) {
  .about-movie-wrapper {
    .side {
      display: inline-block;
      width: 35%;
      box-sizing: border-box;
      vertical-align: top;
      padding-top: 15px;

      &:last-child {
        width: 65%;
      }

      header {
        h1 {
          font-size: 40px;
          line-height: 40px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .about-movie-wrapper {
    .side {
      display: block;
      width: 90%;
      margin: 0 auto;
      box-sizing: border-box;

      &:last-child {
        width: 100%;
        text-align: center;
      }
    }

    &.arrow-wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
