@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TT-Hoves-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Luthier bold';
  src: url('./assets/fonts/Luthier-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Luthier';
  src: url('./assets/fonts/Luthier-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'DK Cinnabar';
  src: url('./assets/fonts/DK-Cinnabar.ttf') format('opentype');
}
