$color-text: #fafafa;

$color-focus: #f45728;
$color-focus-2: #ff7748;
$color-focus-transparent: rgba($color-focus, 0.2);

$color-separators: #b8b5b6;

$bg-gradient: linear-gradient(#0b0704, #a0361e 70%);
$bg-gradient-pos: linear-gradient(transparent, #0b0704, #a0361e 90%);

$box-width: 90%;
$box-max-width: 1460px;
$box-sub-max-width: 1377px;

$font-nav: 'TT Hoves';

$breakpoint-mobile: 550px;
$breakpoint-tablet: 1145px;
$breakpoint-small-monitor: 1400px;
