@import 'fonts.scss';
@import 'prevent-defaults.scss';
@import 'vars.scss';
@import 'animations.scss';
@import 'buttons.scss';

body {
  min-height: 100vh;
  color: $color-text;
  background: $bg-gradient;
  background-position: top center;
}

.box-sized {
  width: 90%;
  max-width: $box-max-width;
  margin: 0 auto;

  .inner {
    max-width: $box-sub-max-width;
    margin: 0 auto;
  }
}

/*
body.bg-home {
  background-image: url(../images/background.png);
}

header.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 143px;
  box-sizing: border-box;
  border-bottom: 1px solid $color-separators;

  #mobile-navbar-check {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    width: 339px;
    padding-bottom: 10px;
    img {
      width: 100%;
    }
  }

  nav {
    ul li {
      display: inline-block;
      height: 40px;
      margin: 0 12px;
      font-size: 14px;
      letter-spacing: 1px;
      -webkit-font-smoothing: antialiased !important;

      &:nth-last-child(1) {
        margin-right: 9px;
      }

      a {
        font-family: $font-nav;
        font-weight: 600;
      }
      &.active {
        color: $color-focus;
      }

      .bullet {
        display: block;
        margin: 0 auto;
        width: 7px;
        height: 7px;
        border-radius: 5px;
        background-color: $color-focus;
        margin-top: 7px;
      }
    }
  }
}

.social-links {
  display: block;
  float: right;
  margin-top: 25px;

  ul {
    display: flex;
    flex-direction: column;

    li a img {
      height: 22px;
      margin-bottom: 8px;
    }
  }
}

.billboard {
  display: block;
  font-family: 'TT Hoves';

  div {
    padding-top: 90px;

    hgroup {
      h3 {
        font-size: 15px;
        margin-left: 9px;
        font-weight: 500;
        span {
          margin-right: 6px;
          letter-spacing: 1px;
        }
      }

      h1 {
        font-family: 'Luthier bold';
        color: $color-focus;
        font-size: 80px;
        margin-top: 23px;
        margin-bottom: 16px;
        letter-spacing: -0.5px;
        max-width: 500px;
      }

      .bold {
        font-weight: bolder;
      }
    }

    .play {
      margin-left: -3px;
      margin-bottom: 64px;
    }
  }
}

.billboard-controls {
  margin-top: 70px;

  ul {
    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $color-text;

      &.active {
        opacity: 0.3;
      }
    }
  }
}

.movies-list {
  h2 {
    font-family: 'DK Cinnabar';
    color: $color-focus;
    font-size: 20px;
    font-weight: 100;
    padding-left: 5px;
  }

  ul {
    margin-bottom: 0;
    padding: 5px 0;

    li {
      width: 300px;
      height: 200px;
      background-color: $color-focus;
      @extend .animated-background;
    }
  }
}

.bg-home .no-bg {
  background: $bg-gradient;
  background-position: top center;
}

@import '_responsive.scss';

*/
