@import 'fonts.scss';
@import 'prevent-defaults.scss';
@import 'vars.scss';
@import 'animations.scss';

body {
  min-height: 100vh;
  color: $color-text;
  background: $bg-gradient;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-sized {
  width: 90%;
  max-width: $box-max-width;
  margin: 0 auto;

  .inner {
    max-width: $box-sub-max-width;
    margin: 0 auto;
  }
}

.relative {
  position: relative;
}

#body-fix-background-layer,
#body-fix-background-layer-gradient {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;
  transition: all 0.5s;
  z-index: -1;

  &#body-fix-background-layer-gradient {
    z-index: -2;
    background: $bg-gradient;
    opacity: 1;
  }
}

@import 'responsive.scss';
