@import 'fonts.scss';
@import 'prevent-defaults.scss';
@import 'vars.scss';
@import 'animations.scss';

body {
  min-height: 100vh;
  color: $color-text;
  background: $bg-gradient;
  background-position: top center;
}

.box-sized {
  width: 90%;
  max-width: $box-max-width;
  margin: 0 auto;

  .inner {
    max-width: $box-sub-max-width;
    margin: 0 auto;
  }
}

.relative {
  position: relative;
}

@import 'responsive.scss';
