@import '../../global-styles/vars';

.wrapper-about {
  font-family: 'TT Hoves';

  &.arrow-wrapper {
    padding: 40px 0;
    text-align: center;
  }

  header {
    font-family: 'TT Hoves';
    color: $color-text;

    h1 {
      font-family: 'TT Hoves Bold';
      color: $color-focus;
      font-size: 60px;
      line-height: 53px;
      margin-bottom: 30px;

      span {
        font-family: 'TT Hoves';
        display: block;
      }
    }
  }

  h3 {
    font-family: 'TT Hoves Bold';
    color: $color-focus;
    font-size: 20px;
    padding-top: 25px;
    padding-left: 30px !important;
  }
  p {
    font-family: 'TT Hoves';
    font-size: 17px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 850px;
    padding-left: 30px !important;
  }

  div.link {
    float: right;
    font-size: 16px;
    transform: translateY(-100%);

    & > a > div:first-child {
      display: inline-block;
      width: 126px;
      text-align: right;
      line-height: 16px;
    }
    & > a > div:last-child {
      font-family: 'TT Hoves';
      font-weight: bold;
      display: inline-block;
      width: 40px;
      text-align: right;
      font-size: 50px;
    }
  }
}

@import './responsive.scss';
