@import '../../global-styles/vars';

.header {
  font-family: 'TT Hoves';
  color: $color-text;
  padding-top: 50px;

  h1 {
    font-family: 'TT Hoves Bold';
    color: $color-focus;
    font-size: 50px;
    margin-bottom: 21px;
    padding-left: 30px;
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    max-width: 350px;
    padding-left: 30px;
    letter-spacing: 0.5px;
  }
}

.suggestions {
  font-family: 'TT Hoves';
  color: $color-text;
  margin-top: 45px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 60px;

  .item {
    text-align: left;
    display: inline-block;
    width: 250px;
    margin-bottom: 20px;

    .avatar-wrapper {
      width: 100%;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      margin-bottom: 10px;
      min-height: 175px;
      width: 175px;

      img {
        width: 100%;
      }
    }

    h3 {
      text-transform: uppercase;
      font-family: 'TT Hoves Bold';
      color: $color-focus;
      font-size: 14px;
      margin-bottom: 15px;
    }

    h4 {
      font-family: 'TT Hoves Bold';
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 1px;
      margin-top: 4px;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 13px;
    }
  }
}

.suggestions {
  .item.loading {
    text-align: left;
    display: inline-block;
    width: 250px;
    margin-bottom: 20px;
    text-align: center;

    .avatar-wrapper {
    }
  }
}

.suggestions .item .avatar-wrapper img {
  border-radius: 50%;
}

@import './responsive.scss';
