@import '../../global-styles/vars';

@media (max-width: $breakpoint-tablet) {
  .header {
    padding-top: 15px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    h1 {
      font-size: 30px;
    }
  }
  .suggestions {
    padding-left: 0px;

    .item {
      text-align: center;

      & * {
        text-align: left;
      }
      .avatar-wrapper {
        width: 100%;
        height: 50px;
        width: 175px;
      }
    }
  }
}
