@import '../../global-styles/vars';
@import '../../global-styles/animations';

.channel-wrapper {
  padding-top: 30px;
  display: flex;

  .side {
    &:first-child {
      width: 66.6%;
    }

    &:last-child {
      width: 33.3%;
    }

    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 99%;

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.channel-flex {
  display: flex;
  flex-direction: column;
}

.arrow-wrapper {
  text-align: center;
  padding: 50px 0;
}

@import './responsive';
