@import '../../global-styles/vars';

$play-button-size: 63px;

.play {
  display: inline-block;
  border-radius: 50%;
  width: $play-button-size;
  height: $play-button-size;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color-focus-transparent;
  transition: all 0.5s;

  &:hover {
    transform: scale(0.95);
  }

  span {
    display: inline-block;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: $play-button-size/2;
    border-color: transparent transparent transparent $color-focus;
    cursor: pointer;
    border-style: solid;
    border-width: $play-button-size/3.6 0 $play-button-size/3.6
      $play-button-size/2.3;
    transform: translate(4px);
  }
}
