@import '../../global-styles/vars';
@import './button';

.billboard {
  display: block;
  font-family: 'TT Hoves';

  .click-area {
    height: 418px;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */

    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.billboard-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0;
  transition: all 1s;

  &.loaded {
    opacity: 1;
  }
}
