@import '../../global-styles/vars';
@import './button';

.billboard {
  display: block;
  font-family: 'TT Hoves';

  .click-area {
    height: 418px;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */

    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.billboard-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0;
  transition: all 1s;

  &.loaded {
    opacity: 1;
  }
}

.billboard-dots {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 0px;
  transform: translateY(17px);

  .billboard-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    opacity: 0.3;
    cursor: pointer;

    &.current {
      opacity: 1;
    }
  }
}

@import './responsive.scss';
