.movies-list.loading.inner {
  header {
    padding-bottom: 20px;
    padding-top: 55px;
  }

  .css-loading-movie-items {
    background-color: rgb(255, 119, 72);
    background-image: linear-gradient(
      90deg,
      rgb(255, 119, 72),
      rgb(244, 87, 40),
      rgb(255, 119, 72)
    );
  }
}

.movies-slider.loading {
  .item {
    margin: 0 auto !important;
  }

  .img-loading {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 1524px) {
  .movies-list.loading.inner {
    .img-loading {
      width: calc(175px * 1.5);
      height: 175px;
    }
  }
}

@media (max-width: 1290px) {
  .movies-list.loading.inner {
    .img-loading {
      width: calc(145px * 1.5);
      height: 145px;
    }
  }
}

@media (max-width: 1100px) {
  .movies-slider.loading {
    .item:nth-child(4) {
      display: none !important;
    }
  }
}

@media (max-width: 840px) {
  .movies-list.loading.inner {
    .img-loading {
      width: calc(105px * 1.5);
      height: 105px;
    }
  }
}

@media (max-width: 640px) {
  .movies-slider.loading {
    .item:nth-child(3) {
      display: none !important;
      border: 5px solid yellow;
    }
  }
}

@media (max-width: 520px) {
  .movies-slider.loading {
    .item:nth-child(2) {
      display: none !important;
      border: 5px solid yellow;
    }
  }
}
